body {
  padding: 30px;
}

.ops {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px 30px;
}

.op {
  display: block;
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border: 1px dotted gray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: 500;
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
  line-height: 30px;
  background-color: steelblue;
  border-radius: 20px;
}

.text {
  padding-left: 30px;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 28px;
}

.index {
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  font-size: 18px;
  font-weight: 500;
}

.index::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  border: 2px dashed black;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.under {
  height: 40px;
  width: 50px;
  /*border-bottom: 2px solid black;*/
}

.answers {
  margin-top: 140px;
  padding-top: 20px;
  border-top: 1px dotted black;
}